{% extends "base.html.jinja" %}
{% block title %}Contract UTD{% endblock %}

{% block content %}
    <div class="view_utd_box">
        <div class="view_utd_box_items">
            <div class="view_utd_box_element">
                <p class="view_utd_box_element_label">Контракт Номер:</p>
                <p class="view_utd_box_element_label">{{ document.number }}</p>
            </div>
            <div class="view_utd_box_element">
                <p class="view_utd_box_element_label">Создатель:</p>
                <p class="view_utd_box_element_label">{{ creator.second_name }}</p>
                <p class="view_utd_box_element_label">{{ creator.name }}</p>
                <p class="view_utd_box_element_label">{{ creator.surname }}</p>
            </div>
            <div class="view_utd_box_element">
                <p class="view_utd_box_element_label">Создатель:</p>
                <p class="view_utd_box_element_label">{{ document.creator_counterparty_name }}</p>
            </div>
            <div class="view_utd_box_element">
                <p class="view_utd_box_element_label">Заказчик:</p>
                <p class="view_utd_box_element_label">{{ document.client_name }}</p>
            </div>
            <div class="view_utd_box_element box">
                <p class="view_utd_box_element_label">Основание Заказчика:</p>
                <p class="view_utd_box_element_label base">{{ document.client_base }}</p>
            </div>
            <div class="view_utd_box_element">
                <p class="view_utd_box_element_label">Поставщик:</p>
                <p class="view_utd_box_element_label">{{ document.provider_name }}</p>
            </div>
            <div class="view_utd_box_element box">
                <p class="view_utd_box_element_label">Основание Поставщика:</p>
                <p class="view_utd_box_element_label base">{{ document.provider_base }}</p>
            </div>
            <div class="view_utd_box_element">
                <p class="view_utd_box_element_label">Статус:</p>
                <p class="view_utd_box_element_label">{{ document.document_status_name }}</p>
            </div>
            <div class="view_utd_box_element">
                <p class="view_utd_box_element_label">Подпись Отправителя:</p>
                {% if document.client_signature_name == None %}
                    <p class="view_utd_box_element_label">Не подписан</p>
                {% else %}
                    <p class="view_utd_box_element_label">{{ document.client_signature_second_name }}</p>
                    <p class="view_utd_box_element_label">{{ document.client_signature_name }}</p>
                    <p class="view_utd_box_element_label">{{ document.client_signature_surname }}</p>
                {% endif %}
            </div>
            <div class="view_utd_box_element">
                <p class="view_utd_box_element_label">Подпись Контрагента:</p>
                {% if document.provider_signature_name == None %}
                    <p class="view_utd_box_element_label">Не подписан</p>
                {% else %}
                    <p class="view_utd_box_element_label">{{ document.provider_signature_second_name }}</p>
                    <p class="view_utd_box_element_label">{{ document.provider_signature_name }}</p>
                    <p class="view_utd_box_element_label">{{ document.provider_signature_surname }}</p>
                {% endif %}
            </div>
            <div class="view_utd_box_element">
                <p class="view_utd_box_element_label">Дата получения:</p>
                {% if document.date_of_receipt == None %}
                    <p class="view_utd_box_element_label">Получатель ещё не получил документ</p>
                {% else %}
                    <p class="view_utd_box_element_label">{{ document.date_of_receipt }}</p>
                {% endif %}
            </div>
            <div class="view_utd_box_element">
                <p class="view_utd_box_element_label">Дата создания:</p>
                <p class="view_utd_box_element_label">{{ document.created_at }}</p>
            </div>
            <div class="view_utd_box_element">
                <p class="view_utd_box_element_label">Последнее обновление:</p>
                {% if document.updated_at == None %}
                    <p class="view_utd_box_element_label">Документ ещё не приняли</p>
                {% else %}
                    <p class="view_utd_box_element_label">{{ document.updated_at }}</p>
                {% endif %}
            </div>
            <p class="view_utd_box_element view_utd_box_element_label">Документ:</p>
            {% if document_files != None %}
                {% for file in document_files %}
                    <img class="view_utd_box_element" src="{{ url_for('static', filename='contract_docs/' ~ document.id ~ '/' ~ file) }}" alt="Document Image">
                {% endfor %}
            {% endif %}
            {% if (document.counterparty == user.organization) and (document.provider_signature == None and document.document_status != 1) %}
                <a class="view_utd_box_element view_utd_box_element_label btn" href="{{ url_for('documents.sign_document', document_type=document.document_type, document_id=document.id) }}">Подписать</a>
            {% endif %}
        </div>
    </div>
{% endblock %}