{% extends "base.html.jinja" %}
{% block title %}Create UTD{% endblock %}

{% block content %}
    <div class="create_utd_box">
        <div class="create_utd_box_text_box">
            <p class="create_utd_box_text_box_text_main">Создать новый документ</p>
            <p class="create_utd_box_text_box_text_sub">УПД</p>
        </div>
        <form class="create_utd_box_form" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="create_utd_box_form_element">
                {{ form.counterparty.label(class_="create_utd_box_form_element_label") }} 
                {{ form.counterparty(class_="create_utd_box_form_element_field") }}
            </div>
            <div class="create_utd_box_form_element">
                {{ form.consignee.label(class_="create_utd_box_form_element_label") }} 
                {{ form.consignee(class_="create_utd_box_form_element_field") }}
            </div>
            <div class="create_utd_box_form_element">
                {{ form.provider.label(class_="create_utd_box_form_element_label") }} 
                {{ form.provider(class_="create_utd_box_form_element_field") }}
            </div>
            <div class="create_utd_box_form_element">
                {{ form.payer.label(class_="create_utd_box_form_element_label") }} 
                {{ form.payer(class_="create_utd_box_form_element_field") }}
            </div>
            <div class="create_utd_box_form_element">
                <p class="create_utd_box_form_element_label">Дата Создания:</p>
                <p class="create_utd_box_form_element_label">{{ current_date }}</p>
            </div>
            <div class="create_utd_box_form_element">
                {{ form.files.label(class_="create_utd_box_form_element_label") }}
                {{ form.files }}
            </div>
            <input type="submit" value="Создать" class="create_utd_box_form_submit">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=auth_flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </form>
    </div>
{% endblock %}