* {
    margin: 0px;
    padding: 0px;
}
.navbar {
    /* side_content_elements */
    z-index: 1;
    position: fixed;
    width: 130px;
    height: 100%;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 120px 15px 120px 15px;
    margin-left: 10px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    box-sizing: border-box;
    border-right: 1px solid rgb(170, 169, 169);
    background: rgb(46, 115, 69);
}

.navbar_elements_container {
    /* side_content_elements */
    position: static;
    width: 130px;
    height: 800px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 120px 15px 120px 15px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.navbar_elements {
    /* elements */
    position: static;
    width: 100px;
    height: 560px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.navbar_element_create {
    /* create */
    position: static;
    width: 80px;
    height: 50px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 25px 5px 25px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    box-sizing: border-box;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.navbar_element_create_image {
    /* create */
    position: static;
    width: 40px;
    height: 40px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.navbar_element_upload {
    /* create */
    position: static;
    width: 80px;
    height: 50px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 25px 5px 25px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    box-sizing: border-box;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.navbar_element_upload_image {
    /* create */
    position: static;
    width: 40px;
    height: 40px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.navbar_element_documentOut {
    /* create */
    position: static;
    width: 80px;
    height: 50px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 25px 5px 25px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    box-sizing: border-box;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.navbar_element_documentOut_image {
    /* create */
    position: static;
    width: 40px;
    height: 40px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;;
}

.navbar_element_documentIn {
    /* create */
    position: static;
    width: 80px;
    height: 50px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 25px 5px 25px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    box-sizing: border-box;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.navbar_element_documentIn_image {
    /* create */
    position: static;
    width: 40px;
    height: 40px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.navbar_element_counterparties {
    /* create */
    position: static;
    width: 80px;
    height: 50px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 25px 5px 25px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;;

    box-sizing: border-box;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.navbar_element_counterparties_image {
    /* create */
    position: static;
    width: 40px;
    height: 40px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.navbar_element_support {
    /* create */
    position: static;
    width: 80px;
    height: 50px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 25px 5px 25px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    box-sizing: border-box;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.navbar_element_support_image {
    /* create */
    position: static;
    width: 40px;
    height: 40px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}