.add_user_box{
    /* utd_form */
    position: static;
    width: 100%;
    height: 100%;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;

    background: rgb(230, 230, 230);
}

.add_user_box_text_box {
    /* Text */
    position: static;
    width: 100%;
    height: 78px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.add_user_box_text_box_text_main,
.add_user_box_text_box_text_sub {
    /* Создать новый документ */
    position: static;
    width: 100%;
    height: 41px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px;

    color: rgb(0, 0, 0);
    font-family: Sansation;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
}

.create_utd_box_text_box_text_sub {
    color: rgb(0, 0, 0);
    font-family: Sansation;
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
}

.add_user_box_form_element {
    /* consignee */
    position: static;
    width: 620px;
    /* height: 60px; */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    padding: 10px;


    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: 0px;
}

.add_user_box_form {
    /* add_items_form */
    position: static;
    width: 100%;
    /* height: 1000px; */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.add_user_box_form_element_label {
    /* consignee_label */
    position: static;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px;

    color: rgb(0, 0, 0);
    font-family: Sansation;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
}

.add_user_box_form_element_field {
    /* consignee_field */
    position: static;
    width: 100%;
    height: 30px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px;
    padding: 5px;

    box-sizing: border-box;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;

    background: rgb(255, 255, 255);

    color: rgb(0, 0, 0);
    font-family: Sansation;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
}

.add_user_box_form_submit {
    /* create */
    position: static;
    width: 150px;
    height: 45px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 5;
    flex-grow: 0;
    margin: 0px;

    border-radius: 10px;

    background: rgb(46, 115, 69);

    border: none;

    color: rgb(255, 255, 255);
    font-family: Sansation;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
}

/* .add_user_box_form_element_checkbox {
    
} */

@media screen and (max-width: 768px) {
    .create_utd_box_form {
        width: 100%;
    }

    .create_utd_box_form_element_field {
        width: 100%;
    }
}