<div class="header">
    <div class="header_elements">
        <div class="header_elements_logo">
            <img class="logo_image" src="{{ url_for('static', filename='images/logo.png') }}">
            <div class="logo_text">
                <p class="logo_text_text">ErgoDocs</p>
            </div>
        </div>
        <div class="header_elements_user">
            <div class="user_username">
                <p class="user_username_name_text">{{ user.name }}</p>
                <p class="user_username_second_name_text">
                    {% if user.second_name == "None" %}
                        <p></p>
                    {% else %}
                        {{ user.second_name }}
                    {% endif %}
                </p>
                <p class="user_username_surname_text">
                    {% if user.surname == "None" %}
                        <p></p>
                    {% else %}
                        {{ user.surname }}
                    {% endif %}
                </p>
            </div>
            <a class="user_username_avatar" href="{{ url_for('dashboard.index') }}">
                <img class="user_username_avatar_img" src="{{ url_for('static', filename='images/default_user_avatar.jpg') }}">
            </a>
        </div>
    </div>
</div>