<div class="navbar">
    <div class="navbar_elements_container">
        <div class="navbar_elements">
            <a class="navbar_element_create" href="{{ url_for('documents.create') }}" title="Создать Документ">
                <img class="navbar_element_create_image" src="{{ url_for('static', filename='images/create.png') }}">
            </a>
            <a class="navbar_element_documentOut" href="{{ url_for('documents.outcoming') }}" title="Исходящие документы">
                <img class="navbar_element_documentOut_image" src="{{ url_for('static', filename='images/document_out.png') }}">
            </a>
            <a class="navbar_element_documentIn" href="{{ url_for('documents.incoming') }}" title="Входящие документы">
                <img class="navbar_element_documentIn_image" src="{{ url_for('static', filename='images/document_in.png') }}">
            </a>
            <a class="navbar_element_counterparties" href="{{ url_for('counterparties.index') }}" title="Контрагенты">
                <img class="navbar_element_counterparties_image" src="{{ url_for('static', filename='images/counterparties.png') }}">
            </a>
            <a class="navbar_element_support" title="Помощь">
                <img class="navbar_element_support_image" src="{{ url_for('static', filename='images/support.png') }}">
            </a>
        </div>
    </div>
</div>